@font-face {font-family: "sicon";
  src: url('./iconfont.ttf?t=1580455964185'); /* IE9 */
 
}

.sicon {
  font-family: "sicon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-iconfont5:before {
  content: "\e63a";
}

.icon-gouwuche-self:before {
  content: "\e63f";
}

.icon-gouwuchetianjia:before {
  content: "\e640";
}

.icon-cuowu:before {
  content: "\e641";
}

.icon-erweima:before {
  content: "\e642";
}

.icon-jushoucang:before {
  content: "\e643";
}

.icon-lajixiang:before {
  content: "\e645";
}

.icon-lianjie:before {
  content: "\e646";
}

.icon-naozhong:before {
  content: "\e648";
}

.icon-saoyisao:before {
  content: "\e649";
}

.icon-shangfan:before {
  content: "\e64a";
}

.icon-shezhi:before {
  content: "\e64b";
}

.icon-shengyin:before {
  content: "\e64c";
}

.icon-shijian:before {
  content: "\e64d";
}

.icon-shouhuodizhi:before {
  content: "\e64e";
}

.icon-shouye:before {
  content: "\e64f";
}

.icon-shuaxin:before {
  content: "\e650";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-suo:before {
  content: "\e652";
}

.icon-tishi:before {
  content: "\e653";
}

.icon-wancheng:before {
  content: "\e654";
}

.icon-wodedingdan:before {
  content: "\e655";
}

.icon-wodefankui:before {
  content: "\e656";
}

.icon-wodehongbao:before {
  content: "\e657";
}

.icon-wodejuhuasuan:before {
  content: "\e659";
}

.icon-wodeyouhuiquan:before {
  content: "\e65a";
}

.icon-xiafan:before {
  content: "\e65b";
}

.icon-xiala:before {
  content: "\e65c";
}

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-yanjing:before {
  content: "\e661";
}

.icon-yijianfankui:before {
  content: "\e662";
}

.icon-zhaoxiangji:before {
  content: "\e663";
}

.icon-zhengque:before {
  content: "\e664";
}

.icon-xiaoxizhongxin:before {
  content: "\e665";
}

.icon-lingcunwei:before {
  content: "\e666";
}

.icon-new:before {
  content: "\e667";
}

.icon-ju:before {
  content: "\e668";
}

.icon-suan:before {
  content: "\e669";
}

.icon-hua:before {
  content: "\e66a";
}

.icon-ju1:before {
  content: "\e66b";
}

.icon-huo:before {
  content: "\e66c";
}

.icon-301:before {
  content: "\e67c";
}

.icon-7:before {
  content: "\e67d";
}

.icon-mian:before {
  content: "\e67e";
}

.icon-jushoucanggift:before {
  content: "\e684";
}

.icon-liwu:before {
  content: "\e685";
}

.icon-yuyin:before {
  content: "\e687";
}

.icon-mine:before {
  content: "\e672";
}

.icon-psyduck:before {
  content: "\e6cc";
}

.icon-ji:before {
  content: "\e61e";
}

.icon-miao:before {
  content: "\e620";
}

.icon-noodle:before {
  content: "\e638";
}

.icon-nongmaoshichang:before {
  content: "\e6ed";
}

.icon-miantiao:before {
  content: "\e615";
}

.icon-jidan:before {
  content: "\e600";
}

.icon-miantiao1:before {
  content: "\e61b";
}

.icon-jidan1:before {
  content: "\e601";
}

.icon-yu2-copy:before {
  content: "\e602";
}

.icon-yu2-copy-copy:before {
  content: "\e603";
}

.icon-ji1:before {
  content: "\e688";
}

.icon-all:before {
  content: "\e609";
}

.icon-suoyou:before {
  content: "\e617";
}

.icon-search:before {
  content: "\e6d0";
}

.icon-nongshi:before {
  content: "\e627";
}

.icon-yazibeifen:before {
  content: "\e658";
}

.icon-suoyouren:before {
  content: "\e68f";
}

.icon-ji2:before {
  content: "\e60f";
}

